openapi: 3.0.2
info:
  title: Develop Health Prior Authorization API
  description: This API handles patient and evidence management for prior authorization purposes.
  version: 1.0.0
servers:
  - url: "https://api.develophealth.com"
paths:
  /patient/{id}:
    get:
      summary: Retrieve patient by ID
      operationId: getPatient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Patient ID
      responses:
        "200":
          description: Patient object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
        "404":
          description: Patient not found
  /patient:
    post:
      summary: Create or update a patient
      operationId: savePatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Patient"
      responses:
        "201":
          description: Patient successfully created or updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invalid patient data"
  /evidence/{id}:
    get:
      summary: Retrieve evidence by ID
      operationId: getEvidence
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Evidence ID
      responses:
        "200":
          description: Evidence object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evidence"
        "404":
          description: Evidence not found
  /evidence:
    post:
      summary: Create or update evidence
      operationId: saveEvidence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Evidence"
      responses:
        "201":
          description: Evidence successfully created or updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Evidence"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invalid evidence data"
components:
  schemas:
    Patient:
      type: object
      properties:
        id:
          type: string
          example: patient_324kljSDF3jd
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Smith
        date_of_birth:
          type: string
          format: date
          example: "1990-01-01"
    Evidence:
      type: object
      properties:
        id:
          type: string
          example: 23423jksjdf
        patient_id:
          type: string
          example: patient_324kljSDF3jd
          description: "The patient ID. This should match with the ID of a previously created patient"
        type:
          type: string
          enum:
            - Visit Note
            - Prescription
            - Questionnaire
            - Medication History
            - Other
          example: Visit Note
        date_created:
          type: string
          format: date-time
          example: "1997-07-16T19:20:00Z"
        content:
          description: The content object changes depending on the type property.
          type: object
          oneOf:
            - $ref: "#/components/schemas/PrescriptionContent"
            - $ref: "#/components/schemas/QuestionnaireContent"
            - $ref: "#/components/schemas/MedicationHistoryContent"
            - $ref: "#/components/schemas/VisitNoteContent"
            - $ref: "#/components/schemas/OtherContent"
    PrescriptionContent:
      type: object
      properties:
        drug_name:
          type: string
          example: Aspirin
        quantity:
          type: string
          nullable: true
          example: "30 tablets"
        days_supply:
          type: integer
          nullable: true
          example: 30
        strength:
          type: string
          nullable: true
          example: "81mg"
        directions:
          type: string
          nullable: true
          example: "Take 1 tablet daily"
        notes:
          type: string
          nullable: true
          example: "Take with food"
        other:
          type: object
    QuestionnaireContent:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            nullable: true
            example: Q12345
          question:
            type: string
            example: "Do you have any allergies?"
          answer:
            oneOf:
              - type: string
                example: "No known allergies"
              - type: array
                items:
                  type: string
                example: ["Penicillin", "Peanuts"]
          choices:
            type: array
            nullable: true
            items:
              type: string
            example: ["Yes", "No"]
          other:
            type: object
    MedicationHistoryContent:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            nullable: true
            example: M12345
          drug_name:
            type: string
            example: "Lisinopril"
          dosage:
            type: string
            example: "20mg daily"
          choices:
            type: array
            nullable: true
            items:
              type: string
            example: ["5mg", "10mg", "20mg", "40mg"]
          other:
            type: object
    VisitNoteContent:
      type: object
      properties:
        text:
          type: string
          example: "The following are my notes on John..."

    OtherContent:
      type: object
      properties:
        text:
          type: string
          example: "Jane has diabetes"
